<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="color-scheme" content="dark">

<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Site.BaseURL }}">
<meta property="og:image" content="{{ .Site.BaseURL }}img/bricio.jpg">
<meta name="twitter:card" content="summary">

<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="/img/bricio.jpg">

{{ $css := resources.Get "css/main.css" | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
